{
  "extends": "airbnb-base",
  "env": {
    "mocha": true,
    "browser": true
  },
  "rules": {
    "consistent-return": "off",
    "no-console": "off",
    "import/prefer-default-export": "off"
  }
}
