language: node_js

node_js:
 - "stable"

services:
 - postgresql

before_script:
 - chmod 777 ./node_modules/.bin/mocha
 - psql-c 'create database travis_ci_test;' -U postgres

after_success: npm run coverage