<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>New Request | Maintenance Tracker App</title>

  <link rel="stylesheet" type="text/css" href="/static/css/new.css">

  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700" rel="stylesheet">
  <link rel="shortcut icon" type="image/svg" href="/static/img/gears.svg">
  <script src="/static/js/jwt-decode.min.js"></script>
  <script src="/static/js/base.js"></script>
  <script src="/static/js/verifyUser.js"></script>
</head>

<body>
  <div class="header">
    <span class="logo left">
      <a href="/dashboard">
        <img src="/static/img/logo.svg" alt="logo">
      </a>
    </span>
    <span class="left white back">
      <a href="/dashboard">< &nbsp Back</a>
    </span>
    <span class="profile-icon right">
      <span class="text orange">
        <a href="/logout">Logout</a>
      </span>
      <img src="/static/img/profile-icon.svg" alt="profile icon">
    </span>
  </div>

  <div class="body" style="background-image:url('/static/img/spanner-screwdriver.svg');">
    <div class="wrapper">
      <div class="card white form">
        <form class="form" id="new-request-form">
          <label id="title" class="left orange center">Create a new request</label>
          <p class="output white" id="output"></p>
          <br>
          <select name="type" id="type" required="required">
            <option value="" disabled selected>Select request type</option> <!-- https://stackoverflow.com/a/5859221 -->
            <option value="maintenance">Maintenance</option>
            <option value="repair">Repair</option>
          </select>
          <br>
          <label>
            <span>Item:</span>
          </label>
          <input type="text" name="item" id="item" required="required">
          <br>

          <label>
            <span>Model:</span>
          </label>
          <input type="text" id="model" name="model">
          <br>

          <label>
            <span>Description:</span>
          </label>
          <textarea name="detail" id="detail" cols="50" rows="10" required="required"></textarea>
          <br>

          <input type="submit" id="new-request-btn" value="Submit" class="button">
        </form>
      </div>
    </div>
  </div>
  <script src="/static/js/newRequest.js" type="text/javascript"></script>
</body>

</html>