@import url("header.css");
@import url("footer.css");

/* Common Styles */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	padding: 0px;
	margin: 0px;
}

 body{
	background-color: #293032;
	padding: 0px;
	height: 100%;
	font-family: 'Rubik', sans-serif;
	overflow-y: scroll;
}

.wrapper{
	height: 100%;
}

.body{
	position: absolute;
	top: 15%;
	width: 100%
}

.left {
	float: left;
}

.right{
	float: right;
}

.hidden{
	display: none;
}

.button, .dropdown {
	cursor: pointer;
	background-color: rgba(220, 220, 220, 0.5);
	border: 1px solid rgba(220, 220, 220, 0.5);
	padding: 3px;
}

a{
	text-decoration: none;
}

.white{
	color: #fff;
}

.link-btn{
	margin: 0 10px;
	cursor: pointer;
}

.orange{
	color: #F2994A;
}

.grey{
	color: rgb(220, 220, 220);
}

/* Fix for Chrome's autofill background-color bug (source: https://bit.ly/2It6O7K)*/

.body form input:-webkit-autofill,
.body form input:-webkit-autofill:hover,
.body form input:-webkit-autofill:active,
.body form input:-webkit-autofill:focus {
    -webkit-transition-delay: 7200s;
}

/* Fix for Chrome's autofill background-color bug */


/* Background Image Styles */

.bg-image {
	right: 0px;
	position: absolute;
	z-index: -1;
}

.bg-image img{
	height: 500px;
}


/* Responsive Layout Styles */

@media (max-width: 845px){
	.body{
		position: absolute;
		top: 10%;
		width: 100%
	}
}

@media (max-width: 700px) {
	.body {
		top: 10%;
	}
}