@import url("base.css");

.wrapper{
	width: 90%;
	margin: auto;
	padding-top: 15px;
}

.table-wrapper{
	position: relative;
	width: 100%;
	height: auto;
	overflow: auto;
}

.table{
	border: 2px solid rgba(220, 220, 220, 0.5);
	padding: 10px;
	min-width: 100%;
	height: 70%;
	text-align: center;
	border-collapse: collapse;
	overflow: auto;
}

.table td{
	border: 1px solid rgba(220, 220, 220, 0.5);
	margin: 0px;
	width: auto;
	margin: 5px 0;
}

.table tr:nth-child(even){
	background-color: rgba(220, 220, 220, 0.1);
}