/* Footer Styles */

.footer{
	margin-top: 5px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding: 0px 0px 20px 20px;
}


/* Responsive Layout Styles */

@media (max-width: 449px) {
	.footer{
		bottom: -40px;
	}
}

@media (max-width: 845px) {
	.footer {
		bottom: -180px;
	}
}

@media (max-width: 700px) {
	.footer {
		bottom: -200px;
	}
}

@media (min-width: 350px) {
	.footer {
		/* bottom: -350px; */
	}
}