/* Header Styles */

.header{
	height: 80px;
	padding: 20px;
	position: relative;
}

.logo img{
	display: inline-block;
	width: 400px;
}

.profile-icon img{
	height: 50px;
}



/* Responsive Layout Styles */

@media (max-width: 1000px) {
	.logo img{
		display: inline-block;
		width: 300px;
	}
	.profile-icon img{
		height: 40px;
	}
}