@import url('request.css');

.form{
  display: grid;
  align-content: center;
}

.form > *{
  margin: auto;
  width: 80%;
}


#new-request-btn {
  margin-top: 15px;
}

form > * {
  height: 35px;
  font-size: 1em;
}